.main-width {
    width: 1000px;
    ul>:nth-child(1) {
        background-color: red;
    }
}
.menu ul{
    li{
        padding-left: 10px;
        background-color: pink;
   }
}
header{
    border: 1px solid black;
}
.menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
.menu { 
    display: flex;
    background-color: aqua;
}

ul>li {
padding:20px;
list-style-type: none;
}
