body {
    background: yellow;
}
/*@media screen and (min-width: 620px) {
    body {
        background: blue;
    }
} */

@media screen and (max-width: 400px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    body {
        background-color: violet;
    }
}

@media screen and (min-width: 800px) {
    body {
         background-color: orange;
    }
}

div {
    width: 300px;
    height: 300px;
    float: left; 
    margin-left: 10px;
    background-color: green;
}

@media div and (max-width: 900px ) {
    div {
        width: 300px;
        height: 300px;
        margin-left: 10px;
        background-color: green;
    }
}