* {
    box-sizing: border-box;
}

body {
    
    color: #444444;
    background-color: #E4E4E4;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    margin-top: 70px;
}
.leftLogo {
    border:none;
}
#logoButton {
    background-color: #FC4887;
    border: none;
    height: 70px;
    width: 140px;
    color: white;
    font-size: 40px;
    border-radius: 5px;
    font-family: 'Open Sans';
    text-decoration: none;
    padding: 5px 35px 5px 35px;
}
.navButton{
    width: 140px;
    border: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aLink{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}
.aLink:hover {
    background-color: #444444;
    color: white;
    
}
.blackButton {
    background-color: #444444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.navButtons {
    display: flex;
}
.whiteTemplate {
    min-height: 400px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.leftSiteWhiteTemplate {
    display: inline-block;
    margin-left: 70px;
    max-width: 650px;
}
.whiteTemplateColor {
    background-color: white;
}
.whiteTemplateHeader {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 15px;
}

.whiteTemplateText{
    font-size: 50px;
    font-weight: 450px;
    margin-top: 15px;
}
.whiteTemplateButtons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.whiteTemplateButton {
    border-width: 0;
    display: flex;
    width: 400px;
    min-height: 100px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    border-radius: 10px;
}
.whiteTemplateLink {
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
#whiteTemplateFirstButton {
    background-color: #0090c5 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
 
}
#whiteTemplateSecondButton{
    background-color: #E4E4E4;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}   
.articles {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.article{
    background-color: white;
    max-width: 440px;
    border-radius: 10px;
}
.picArticle {
    width: 440px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.articleTitle{
    font-weight: 900;
    font-size: 25px;
    margin-left: 35px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.articleText{
    font-size: 20px;
    text-align: left;
    margin-left: 35px;
    color: #444444;
    font-weight: 400;
    
}
.longText{
    padding-bottom: 100px;
    line-height: 40px;
    margin-top: 50px;
}