.container {
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @media screen and (min-width: 640px) {
        justify-content: flex-start;
    }
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    max-width: 380px;
    margin: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -webkit-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    
}
.picArticle {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 380px;
}

.articleTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 9px;
    padding-top: 35px;
    padding-left: 20px;

}
.articleText {
    font-size: 1.2rem;
    margin-bottom: 35px;
    padding-left: 20px;
    margin-top: 0px;
}
.longText {
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-bottom: 70px
}
.secondSectionFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.rightSideSecondSection {
    background-color: white;
}

.secondSectionRightTitle {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 30px;
} 
.secontSectionText {
    font-size: 1.2rem;
    color: #666666;
    padding: 0px 20px 20px 30px;
}
.moreButtonLink {
    background-color: white;
    box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -webkit-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    border-radius: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 40px 30px;
    background-color: #0090c5;
    text-decoration: none;
}
.continueReadingLink {
    box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -webkit-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
}
.moreButton {
    border: none;
    background-color: #0090c5;
    color: white;
    font-size: 18px;
    font-weight: bold;   
}
.continueReadingLink {
   text-align: center;
}
.secondSectionI {
    font-size: 1.5rem;
    color: white;
}
.secondSectionLeftTitle {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 30px
}

#secondSection {
    margin-top: 30px;
    box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -webkit-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
}
.leftSideSecondSection {
    width: 100%;
    padding: 0 12px;
    background-color: white;
    box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -webkit-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(161,155,155,0.75);
}
.pictureDiv {
    display:flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
}

.secondSectionPic {
    flex: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.thirdSection {
    display: block;
    margin-top: 70px;
}

.randomStuff {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.randomStuffTitle {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 30px;
}
.greyColor {
    color: #666666;
}

.randomStuffText {
    font-size: 1.2rem;
    text-decoration: underline;
}

.randomStuffPadding>i {
    font-size: 40px;
    color: #666666;
}
.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    color: #999999
}
