@mixin clearfix() {
  &::before {
    content: "";
    clear: both;
    display: table;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin border ($font) {
  font-size: $font;
  border-radius: 5px;
}

@mixin dialogBox ($backgroundColor,$width) {
  width: $width;
  padding: 10px;
  background: $backgroundColor;
  border: 1px solid black;
  margin: 40px auto;

  &::after {
    border: 1px solid green;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: white;
}

form {
  margin: 20px auto;
  text-align: center;
}

form input {
  margin: 10px 0;
}

header {
  margin: 20px 0;
}

.main-width {
  width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-width a {
  float: left;
  display: block;
  font-size: 150%;
  line-height: 50px;
  width: 50%;
}

.main-width ul {
  float: left;
  list-style: none;
  width: 50%;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.main-width  {
  li {
    float: left;
    margin-right: 20px;
    font-size: 100%;
    line-height: 50px;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


.dialog {
  width: 300px;
  padding: 10px;
  background: green;
  border: 1px solid black;
  margin: 40px auto;
}

.dialog__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.dialog__text {
  font-size: 14px;
}
.left_box {
  border-left: 1px solid blue;
  @include clearfix();
}
.right_box {
  border-right: 1px solid blue;
  @include clearfix();
}

header {
  @include border(50px);
}

.dialog {
  @include dialogBox(lightgreen, 300px)
}
